<div class="board">
  <% @board.each_with_index do |column, index| %>
      <%= link_to({controller: "main", action: "add", board:@board, column:column,  x:index, remote: true}, class:"column") do %>
          <% column.each do |line| %>
              <span class="point"><%= "#{line.coordX}, #{line.coordY} #{line.selected}" %></span>
          <% end %>
  <% end %>
  <% end %>
</div>