// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.board {
  float: left;
  border: solid 3px;
}

.column {
  float: left;
  display: inline;
  padding: 2.5px;
}

.column:hover {
  background-color: rgba(6, 0, 255, 0.08);
}

.point {
  width: 40px;
  height: 40px;
  border: solid 1px;
  margin-top: 5px;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  /*!  */
  display: block;
}

.point:last-child {
  margin-bottom: 5px;
}
